body{
  font-family: "lucida console", Monaco, monospace;
  background: #e6e6fa;
}


header {
  box-sizing: border-box;

}

header {
  position: relative;
  width: 100%;
  top: 0px;
  right: 0px;
  left: 0px;
  margin: 0px auto;
  
}

header img {
  position: inherit;
  display:flex;
  align-content:center;
  padding-left: 1em;
  padding-right: 118px;
}

h2{
  position: inherit;
  display: center;

}

h3{
  color: white;
  font-size:2em;
  font-family: roboto;
}

h4{
  color: white;
  font-size:1.5em;
  font-family: roboto;
}

h5{
color: black;
font-size:1em;

}


h6{
color: orange;
font-size:1.5em;
}



span{
  color: darkorange;
}

nav{
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  border-bottom:0.2em solid black; 
  border-top:0.2em solid black;
  font-style: normal;
  color: black;
  font-family: "lucida console", Monaco, monospace;
  z-index: 1}

option{
font-family: "lucida console", Monaco, monospace;
}

button{
 font-family: "lucida console", Monaco, monospace; 
 cursor: pointer;
}

label{
  display: contents;
  color:black;
}

.buttonbox{
  position:inherit;
  display:-webkit-inline-box;
  padding-left:4.5em; 
  z-index: 2

}

.logo1{
  position: relative;
  display:flex;
  width: 20%;
  z-index: 2;
}

.static-button {
  display: block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  white-space: nowrap;
  z-index: 1;

}


.send-button {
  position: relative;
  display: -webkit-inline-box;
  width: 40%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  margin-bottom: 0.3em;
  margin-top:0.5em; 
  background-color: #ffffff;
  font-size:0.9em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

}
.send-button a{
  color:black;
  text-decoration: none;
}

.gomap-button {
  position: relative;
  display: inherit;
  width: 40%;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;

}
.container-start{
  display: grid;
  width: 30%;
  border:0.2em solid black;
  border-radius: 5px;
  text-align: justify;
  margin-top: 5.5em;
  margin-left: 5.5em;
  margin-bottom: 5.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
  background:white;
  z-index: 1
}

.static-log {
  display: flex;
  position: relative;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  white-space: nowrap;
  z-index: 1;

}
.static-login {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  border: 1px solid gray;
  border-radius: 4px;
  margin-top: 1em;
  padding: 10px 30px 10px 20px;
  background-color: #e6e6fa;
  white-space: nowrap;
  z-index: 1;

}

.container-admin {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: grid;
  align-content: center;
  padding-left:42%;
  position: relative;
  min-height: 92.2vh;
  background: #e6e6fa;
  z-index:1;}

.static-admin {
  display:center;
  height: 30%;
  width: 30%;
  justify-content: space-between;
  border: 1px solid black;
  box-shadow: -20px -10px black;
  border-radius: 100px;
  margin-top: 0.2em;
  padding: 30px 30px 40px 30px;
  background-color: darkslategray;
  color:white;
  white-space: nowrap;
  z-index: 1;

}



.container-show{
  display: grid;
  min-height: 75vh;
  width: 62%;
  border:0.2em solid black;
  box-shadow: -10px -10px;
  text-align: justify;
  margin-top: 5.5em;
  margin-left: 5.5em;
  margin-bottom: 5.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 4em;
  background:white;
}

.report-box{
  display:flex;
  position: absolute;
  height: 15%;
  padding-left: 1.5em;

}

form{
display: grid;
font-family: "lucida console", Monaco, monospace;  
}


.grid-form{
  display: grid;
  width:40%;
  border:0.2em solid black;
  box-shadow: -10px -10px;
  grid-template-columns:1fr 1fr;
  text-align: justify;
  margin-top: 5.5em;
  margin-left: 2em;
  margin-bottom: 2em;
  padding: 20px 20px 20px 20px;
  background:#e6e6fa;
  z-index: 2

}


.box-form {
  display: flex;
  position:;
  background-color: #e6e6fa;
  z-index: 2
}

.box-proof{
  display:block;
  background-color: #e6e6fa;
  margin-left: 1em;
  padding-top: 0.1em;
  z-index: 2
}

.evidence-button {
  position: relative;
  display: grid;
  width: 48%;
  /*border: 1px solid gray;*/
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
}

.country-box{
  display: flex;
  color: darkorange;
  z-index:1
}
.container-numbers {
  width: 40%;
  border:0.2em solid black;
  box-shadow: -10px -10px;
  margin-top: 3em;
  margin-left: 2.5em;
  margin-bottom: 3em;
  padding: 20px 0px 20px 30px;
  background-color: #e6e6fa;
}

.grid-numbers{
  display: flex;
  grid-template-columns:1fr 1fr;
  grid-gap: none;
  text-align:justify;
  padding-right: 2em;
  z-index:2
}

.grid-chart{
  display: grid;
  margin-right: 1em;
  padding-top: 0.5em;
  text-align:-webkit-center;
}

.grid-numbers-pie{
  display: flex;
  grid-template-columns:1fr 1fr;
  grid-gap: none;
  text-align:justify;
  padding-top: 1em;
  padding-left: 6em;
  padding-right: 4em;
  z-index:2
}
.grid-chart-pie{
  display: grid;
  margin-left: 1em;
  padding-top: 1em;
  text-align:-webkit-center;
}

.submit-button {
  position: relative;
  display: grid;
  width: 100%;
  border: 1px solid gray;
  /*box-shadow: 10px 10px;*/
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  white-space: nowrap;
  cursor: pointer;

}

.displayErrors:invalid {
  border-color: red;
}


.text-box {
 
  display: inline-block;
  border: 1px transparent;
  border-radius: 4px;
  padding-top: 1.5em;
  padding-right: 7em;
  box-shadow:0 5px 5px 0 rgba(0, 0, 0, 0), 0 1px 12px 0 rgba(0, 0, 0, 0.11);
  background-color: #ffffff;
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.drop-button {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  cursor: pointer;

  white-space: nowrap;
}

.drop-button:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;

}

.drop-button:hover {
  background-color:#ffffff;

}

.drop-button::-ms-expand {
            display: none; 
            background-color: darkorange;
}


.container {
  display: flex;
  position: relative;
  min-height: 92.2vh;
  width: 100%;
  background: #e6e6fa;
  z-index:1;}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    background-image: url(/static/media/cover_conta.4bee9881.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.icon-container {
    position: relative;
    left: 8.5rem;
    top: -4.7rem;
}

.icon-container a{
  display: inline-block;
  cursor: crosshair;
}

.textbox1 {
  display: flex;
  position: fixed;
  background-color: transparent;
  -webkit-text-stroke: 1px grey;
  text-shadow: -2.5px -2.5px   black;
  box-shadow:  0 9px 8px 0;
  height: 10vh;
  width: 30%;
  opacity:0.9;
  padding-left:1.5em;
  padding-bottom: 2.5em;
  border-bottom: 0.1em black solid; 
  z-index: 2;
}

.textbox2 {
  display: flex;
  position: fixed;
  background-color: transparent;
  -webkit-text-stroke: 1px grey;
  text-shadow: -2.5px -2.5px   black;
  box-shadow:  0 9px 8px 0;
  height: 10vh;
  width: 30%;
  opacity:0.9;
  padding-left: 1.5em;
  padding-top: 4em;
  padding-bottom: 2.5em;
  border-bottom: 0.1em black solid; 
  margin-top: 3em;
  z-index: 2;
}

/*.textbox3 {
  display: flex;
  position: fixed;
  background-color: transparent;
  -webkit-text-stroke: 1px grey;
  text-shadow: -2.5px -2.5px   black;
  height: 10vh;
  width: 36%;
  opacity:0.9;
  padding-left: 1.5em;
  border-bottom: 0.1em black solid; 
  margin-top: 7em;
  z-index: 4;
}*/


.social-container{
  background: transparent;
  position: inherit;
}
.social-container a{
  margin: 0 1rem;
  display: inline-block;;
}

.social-icons{
  color: black;
  width: 5%;
}

.social-icons a{
  margin: 0 1rem;
  transition:transform 250ms;
  display: inline-block;
}

.social-icons:hover {
  transform: translateY(-2px);
  color: darkorange;
}


.map-icon{
  color: darkorange;
}
.map-icon a{
  margin: 0 1rem;
  transition:transform 250ms;
  display: inline-block;
}

.map-icon:hover {
  transform: translateY(-2px);
}


.pin-container{
  color: darkorange;
  position: relative;
  cursor:crosshair;
  display:grid;
  margin-top: -8em;
  z-index: 1;  
}

.pin-icon{
  color: darkorange;
  display:inline-block;
  z-index: 2;  
}

.pin-counter{
  color: darkorange;
  margin-bottom: -3.5em; 
  margin-left: 0.6em;
  z-index: 3;  
}

.pin-icon a{
  margin: 0 1rem;
  transition:transform 250ms;
  display: inline-block;
}



.pin-icon:hover {
  transform: translateY(-2px);
}

.map {
  position: relative;
  display: flex;
  z-index: 2;
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}

/*.search-box {
  position: relative;
  display: flex;
  border: 1px solid gray;
  border-radius: 4px;
  margin-bottom: 0 auto
  background-color: #ffffff;
  z-index: 1;
}*/

.intro-mark{
  font-size: 10px;
  text-align: justify;
  display: grid;
  color:black;
  position: absolute;
  padding-left: 6.8em;
  margin-right: 4em;
}

footer {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:2em;
  text-align: justify;
  padding: 20px 10px 0px 20px;
  color:black;
  border-top: 0.1em groove;
  border-bottom: 0.1em groove;
  z-index: 1
}

footer a{
  font-size: 80%;
}

.foot-note{
  display: grid;
  margin: 0 auto;
  font-size:60%;
  grid-template-columns: 1fr;
  text-align:-webkit-center;
}
/*//////////////// table ///////////////////////*/
.container-table{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  position: absolute;
  min-height: 92.2vh;
  width: 80%;
  margin-top: 5.5em;
  margin-left: 1.3em;
  background: #e6e6fa;
  z-index:1;}


.container-3tables{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: block;
  position: relative;
  min-height: 92.2vh;
  width: 80%;
  margin-top: 5.5em;
  margin-left: 1.3em;
  background: #e6e6fa;
  z-index:1;
}

.table-header{

  display: block;
  height: 2em;
  margin-top: 2em;
  margin-left: 1.3em;
}

table {
  position: relative;
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
  z-index:1;
}


.tables{
  position: relative;
  border-collapse: collapse;
  width: 100%;
  margin-left: 1.5em;
  z-index:1;
  font-size: 60%;
  margin-bottom: 4em;
}


tr { 
  position: inherit;
  border: solid;
  width: 15%;
  border-width: 0px 0;
  z-index: 2;
}

th { 
    position: inherit;
    background: darkslategray;
    color:white;
    border-style: ridge;
    display:inline-flex;
    height: 20%;
    width: 10%;
    margin-bottom: 5px;
    padding: 10px 30px 5px 30px;
    vertical-align: inherit;
    font-weight: bold;
    text-align:center;
    z-index: 2
}   

td { 
    position: inherit;
    border-style: ridge;
    display:inline-flex;
    height: 20%;
    width: 10%;
    padding: 5px 30px 5px 30px;
    vertical-align: inherit;
    font-weight: bold;
    text-align:center;
    z-index: 2;
}   

/*//////////////////////contac us//////////////*/

.contact-box{

  display:flex;
  border-style: outset;
  justify-content: space-around;
  position: relative;
  margin: auto;
  width: fit-content;
  height: fit-content;
  height: 100%;
  width: 100%;
}


.contact-input {
  display: block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 150px 10px 80px;
  background-color: #ffffff;
  white-space: nowrap;
  z-index: 1;
}

.contact-button {
  display: block;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 30px 10px 20px;
  background-color: #ffffff;
  margin-top: 0.3em;
  white-space: nowrap;
  z-index: 1;

}

.contact-img{

  display:flex;
  justify-content: center;
  position: relative;
  height: 20rem;
  left:4.4rem; 
}






/*
/////////////current location//////////////*/

.style-unordered-list {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.google-covert{
        border: 1px solid #ccc;
        box-shadow: -1px 2px 4px #ccc;
        width: 100%; 
}
.location-box {
    height: 40px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden !important;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    white-space: nowrap;
}


.style-list {
    cursor: pointer;
    list-style: none;
    border-bottom: 1px solid #aaa;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.style-list:hover {
  background-color: #e7e7e7;
}
.current-loc-ico{
    height: 17px;
    padding-right: 10px;

}

@media only screen and (max-width: 1200px) {
  .intro-mark {display: none;}
  header img{padding-right:0.5em;
             padding-left:1.5em;}
  h1{display: none}
  
  .texbox1{display: none}

  .texbox2{display: none}
 

  .grid-form{
  display: inline;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-top: 3em;
  margin-left: 4.5em;
  z-index: 2;
  }
  
  .box-proof{
    position: relative;
    padding-bottom: 2em;
    padding-top: 1em;
    margin-left: 0;
    width: fit-content;
    height: fit-content;
    z-index: 2;
  }
  
  .container-start{
  display: grid;
  min-width: 50%;
  border:0.2em solid black;
  border-radius: 5px;
  text-align: justify;
  margin-top: 5em;
  margin-left: 5em;
  margin-bottom: 5.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
  background:white;
  z-index: 1
}

.container-numbers{
   min-width: 60%;
   width: fit-content;
   height: fit-content;

}
  
}